# Qui doit relire quoi
*            @rubitombe @avrilbrngnzz-boop @Asma-Mouhli
/docs/       @rubitombe @Asma-Mouhli
/biblio.py   @rubitombe @avrilbrngnzz-boop
/.github/    @avrilbrngnzz-boop @Asma-Mouhli
